@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, :root {
  height: 100%;
  width: 100%;
}


.animate-custom-bounce {
  animation: bounce 5s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}